
#map { height: 600px; width: 100%;}

body {
    background-color: white;
}

.info {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}

.info h4 {
    margin: 0 0 5px;
    color: #777;
}
.scroll-box {
    max-height: 200px;
    overflow-y: auto;
    border: 1px solid #ccc;
    padding: 10px;
}
#map {
    width: 70vw; /* Adjusted to fit almost 70% of the viewport width */
    height: 70vh; /* Adjusted to fit almost 70% of the viewport height */
    max-width: 900px;
    max-height: 600px;
}
.sidebar {
    width: 30%;
    display: flex;
    flex-direction: column;
    gap: 0; /* Remove gaps between categories */
    padding: 10px;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    box-sizing: border-box;
    height: 70vh; /* Same as map height to align with it */
    overflow-y: auto;
}
.content {
    display: flex;
    align-items: flex-start;
}
.category-section {
    margin-bottom: 0;
    padding: 5px 0; /* Add padding inside each category section */
    border-bottom: 1px solid #eee; /* Light border between categories */
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.indicator-select {
    width: 100%;
}
h2 {
    margin-top: 0;
    margin-right: 10px; /* Space between category title and checkbox */
}
.category-label {
    display: flex;
    align-items: center;
}
.category-label input {
    margin-left: 5px;
}


.info.legend {
    background: white;
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    line-height: 18px;
    color: #555;
}

.info.legend i {
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;
    opacity: 0.7;
}